/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(33, 90%, 65%);
  --second-color: hsl(355, 90%, 55%);
  --third-color: hsl(198, 90%, 65%);
  --title-color: hsl(0, 0%, 12%);
  --text-color: hsl(0, 0%, 56%);
  --black-color: hsl(0, 0%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 95%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 7rem 1.5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__close {
  color: var(--white-color);
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.nav__social {
  display: flex;
  column-gap: 0.5rem;
  align-self: flex-end;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Background header */

/*=============== HOME ===============*/
.home__container,
.home__data,
.home__article,
.home__images,
.home__footer {
  display: grid;
}

.home__container {
  padding-block: 7.5rem 2.5rem;
  row-gap: 1.5rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--small-font-size);
}

.home__titles {
  margin-block: 0.5rem 2rem;
}

.home__title {
  font-size: var(--biggest-font-size);
}

.home__button,
.home__social,
.home__controls,
.home__navigation {
  display: flex;
}

.home__button {
  justify-self: center;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.home__button i {
  font-weight: initial;
  font-size: 1.25rem;
  transition: transform 0.4s;
}

.home__button:hover i {
  transform: translateX(0.5rem);
}

.home__article {
  width: 270px;
  place-items: center;
  padding-block: 1rem;
}

.home__card {
  position: relative;
}

.home__circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.home__circle-1 {
  background-color: var(--first-color);
}

.home__circle-2 {
  background-color: var(--second-color);
}

.home__circle-3 {
  background-color: var(--third-color);
}

.home__image-1,
.home__image-2 {
  position: absolute;
  width: 200px;
  filter: drop-shadow(0 20px 12px hsl(0, 0%, 0%, 0.4));
}

.home__image-1 {
  bottom: 7rem;
  left: -1.5rem;
}

.home__image-2 {
  bottom: 3rem;
  right: -1.5rem;
}

.home__footer {
  row-gap: 3rem;
}

.home__social {
  justify-content: center;
  column-gap: 0.5rem;
}

.home__social-link {
  color: var(--title-color);
  font-size: 1.5rem;
}

/* Swiper class */
.swiper {
  margin-inline: initial;
}

/* Swiper animation */

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
